.output {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.output__field {
  width: 100%;
  min-height: 100px;
  padding: 0.5em;
  box-sizing: border-box;
  font-size: 1em;
  font-family: 'Arial', sans-serif;
  resize: none;
  user-select: none;
}
